table{
    border-spacing: 1px;
    border-collapse: collapse;
    /* ;
     */
    background:#fff;
    border-radius:6px;
    /* overflow:hidden; */
    border-bottom: none !important;
    width: 100% !important;
    margin-top: 30px;
    thead {

        tr{
            background-color: $container;

            th{
                padding: 10px !important;
                text-align: left;
                color: #fff;
                position: relative;
                cursor: default;
                &:nth-child(1){
                    border-top-left-radius: 3px;
                }
                &:nth-last-child(1){
                    border-top-right-radius: 3px;
                }
                .ic{
                    margin-right: 6px;
                }
                small{
                    white-space: nowrap;
                    position: absolute;
                    top: -27px;
                    left: 50%;;
                    transform: translateX(-50%);
                    background-color: #6f6f6f;
                    padding: 4px 10px;
                    border-radius: 2px;
                    box-shadow: 0 .3px .4px 0 rgba(0,0,0,.1);
                    display: none;
                    z-index: 1;

                    &::after{
                        content: "";
                        height: 10px;
                        display: block;
                        width: 10px;
                        background-color: #6f6f6f;
                        left: 50%;
                        transform: rotate(45deg) translateX(-50%) ;
                        position: absolute;
                        z-index: -1;
                    }

                }

                &:hover small{
                    display: block;
                }

            }
        }
    }
    tbody{
        tr {
            &:nth-child(even){background-color: #f2f2f2 !important;}
            &:hover {background-color: #ddd !important;}
            td{
                /* padding: 10px !important;
                position: relative; */
                border-bottom: 1px solid #ddd;
                padding: 10px 10px;
                z-index: 1;
                color: $container;
                font-weight: 500;
                img{
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    box-shadow: 0 0.3px 2px 0 rgba(0,0,0,.1);
                    border-radius: 4px;
                }
                a{

                    font-size: 16px;
                    color: $container;
                    font-weight: 500;

                }
                .depart .cate, .normal,.rebusca{
                    background-color: #23ae6d;
                    font-weight: 400;
                    font-size: 16px;
                    padding: 2px 8px;
                    box-shadow: 0 .3px .2px 0 rgba(0,0,0,.1);
                    border-radius: 2px;
                    color: #fff;
                }
                .rebusca{
                    background-color: #d31c65;
                }
                .depart span{
                    display: block;
                    margin-bottom: 4px;
                }
                .depart .cate{
                    font-size: 13px;
                    margin-right: 6px;
                }
                .depart small{
                    margin-right: 6px;
                    font-size: 13px !important;
                    font-weight: 400;
                    font-style: italic;
                    text-decoration: underline;
                    color: #35435d;
                }
                select{
                    padding: 2px 4px;
                    border: 1.5px solid #30343d;
                    font-size: 16px;
                    outline: none;
                    border-radius: 2px;
                    font-weight: 500;
                }
                input{
                    padding: 6px 10px;
                    border: 2px solid #30343d;
                    border-radius: 2px;
                    box-shadow: 0 .3px .2px 0 rgba(0,0,0,.1);
                    outline: none;
                    font-size: 16px;
                    font-weight: 500;
                    height: 42px;
                    border-radius: 5px;
                }
                .nice-select{
                    border: 2px solid #30343d;
                    &:hover{
                        border: 2px solid #30343d;
                    }
                    &::after{
                        right: 13px;
                    }
                }

                .positiva,.negativa,.pendente{
                    /* padding: 2px 8px; */

                    /* box-shadow: 0 .3px 4px 0 rgba(0,0,0,.1);
                    border-radius: 2px; */
                    font-weight: 500;
                    font-size: 16px;
                }

                .pendente{
                    color: #d27b02;
                }
                .negativa{
                    color: #f82929;
                }
                .positiva{
                    color: #125bc8;
                }
                .apto{

                }
                .recurso{

                }
                .nao-apto{

                }
                .null{
                    font-size: 20px;
                    font-weight: 500;
                    color: $container;
                }
            }
        }
    }
}


.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{
    padding-top: 20px !important;
}
.dataTables_wrapper .dataTables_paginate{
    padding-top: 10px !important;
}

.paginate_button:hover{
    background: #30343d !important;
    color: red !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    border: none !important;
}
.paginate_button.current{
    /* background-color: #9fb3e1 !important; */
    background: #cdac0b !important;
    color: red !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    border: none !important;
}
.paginate_button.current:hover{
    background: #cdac0b !important;
}

.dataTables_filter{
    margin-bottom: 15px !important;
    background: #fff;
    padding: 8px 10px;
    box-shadow: 0 .2px .4px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    width: 40% !important;

}
.dataTables_filter label{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.dataTables_filter input{
    border: none !important;
    outline: none !important;
    background-color: #e8effcad !important;
    width: 100% !important;
    font-size: 18px;
    margin-left: 6px !important;
    padding: 8px 5px !important;
}
.dataTables_length{
    margin-top: 10px;
}
.dataTables_length label{
    font-size: 16px;
}
.dataTables_length select{
    border:none !important;
    font-size: 16px;
    background: #fff !important;
    margin: 0 6px;
    outline: none;
    box-shadow: 0 0.2px 0.4 px 0 rgba(0,0,0,.1);
}

#tlogin{
    td{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-weight: 400 !important;
        font-size: 18px !important;
    }
}

